
.cb-control {
	color: #fff;
	font-size: 12px;
	background-color: #111;
	padding: 10px;
	opacity: .9;
	position: fixed !important;
}

.cb-control.floating {
	margin: 5px;
	border: 2px solid #444;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 0 4px #000;
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
}

.cb-control.cb-navigate {
	top: 0;
	margin: 0;
	cursor: pointer;
	width: 128px;
	background: center no-repeat;
	opacity: 0;
}

.cb-control.cb-navigate:hover {
	opacity: 1;
}

.cb-control.cb-navigate.left {
	left: 0;
	background-image: url(../img/left.png);
}

.cb-control.cb-navigate.right {
	right: 0;
	background-image: url(../img/right.png);
}

.ui-draggable {
	cursor: move;
}

#cb-toolbar {
	top: 0;
	height: 25px;
	opacity: 0;
}

#cb-toolbar:hover {
	opacity: 1;
}

#cb-color {
	width: 200px;
	height: 150px;
}

#cb-status {
	top: 0;
	right: 0;
}
