
.cb-control * {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

.cb-control {
	color: #fff;
	background-color: #111;
	padding: 10px;
	position: fixed !important;
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
}

.cb-control label {
	display: inline-block;
	margin: 0 0 4px;
}

.cb-control.cb-navigate {
	top: 0;
	margin: 0;
	cursor: pointer;
	width: 128px;
	opacity: 0;
	background: center no-repeat;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.cb-control.cb-navigate:hover {
	opacity: 1;
}

.cb-control.cb-navigate.left {
	left: 0;
	background-image: url(../img/left.png);
}

.cb-control.cb-navigate.right {
	right: 0;
	background-image: url(../img/right.png);
}

.cb-option {
	margin-bottom: 16px;
}

.cb-option:last-child {
	margin-bottom: 0;
}

.ui-draggable {
	cursor: move;
}

#cb-toolbar {
	top: 0;
	border-bottom: 2px solid #444;
}

#cb-toolbar #cb-status {
	float: right;
}

#cb-toolbar button {
	height: 32px;
	width: 32px;
	color: transparent;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 16px;
	cursor: pointer;
}

#cb-toolbar button.cb-close {
	background-image: url(../img/iconic/white/x_28x28.png);
}

#cb-toolbar button.cb-close:hover,
#cb-toolbar button.cb-close:active {
	background-image: url(../img/iconic/green/x_28x28.png);
}

#cb-toolbar button.cb-color {
	background-image: url(../img/iconic/white/cog_alt_32x32.png);
}

#cb-toolbar button.cb-color:hover,
#cb-toolbar button.cb-color:active,
#cb-toolbar button.cb-color.active {
	background-image: url(../img/iconic/green/cog_alt_32x32.png);
}

#cb-toolbar button.cb-layout {
	background-image: url(../img/iconic/white/document_fill_32x32.png);
}

#cb-toolbar button.cb-layout:hover,
#cb-toolbar button.cb-layout:active {
	background-image: url(../img/iconic/green/document_fill_32x32.png);
}

#cb-toolbar button.cb-zoom-out {
	background-image: url(../img/iconic/white/minus_32x8.png);
}

#cb-toolbar button.cb-zoom-out:hover,
#cb-toolbar button.cb-zoom-out:active {
	background-image: url(../img/iconic/green/minus_32x8.png);
}

#cb-toolbar button.cb-zoom-in {
	background-image: url(../img/iconic/white/plus_32x32.png);
}

#cb-toolbar button.cb-zoom-in:hover,
#cb-toolbar button.cb-zoom-in:active {
	background-image: url(../img/iconic/green/plus_32x32.png);
}

#cb-toolbar button.cb-fit-width {
	background-image: url(../img/iconic/white/fullscreen_32x32.png);
}

#cb-toolbar button.cb-fit-width:hover,
#cb-toolbar button.cb-fit-width:active {
	background-image: url(../img/iconic/green/fullscreen_32x32.png);
}

#cb-color {
	width: 246px;
	top: 52px;
	left: 136px;
	z-index: 1;
	border: 2px solid #444;
	border-top: none;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

label[for="cb-desaturate"] {
	padding: 4px;
}

#cb-desaturate {
	float: left;
}

#cb-reset {
	float: right;
}

#cb-reset {
	background: transparent url(../img/iconic/white/reload_12x14.png) no-repeat left center;
	padding-left: 16px;
	height: 14px;
	border: none;
	color: #fff;
	cursor: pointer;
}
