
.cb-control {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

.cb-control {
	color: #fff;
	background-color: #111;
	padding: 10px;
	position: fixed !important;
	box-shadow: 0 0 4px #000;
}

.navigate {
	top: 0;
	margin: 0;
	cursor: pointer;
	width: 128px;
	opacity: 0;
	background: center no-repeat;
	box-shadow: none;
	padding: 0 3em;
}

.navigate > span {
	color: #000;
	font-size: 10em;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 1em;
	top: 35%;
	position: relative;
}

.navigate:hover {
	opacity: 1;
}

.navigate-left {
	left: 0;
}

.navigate-right {
	right: 0;
}

#cb-loading-overlay {
	z-index: 100;
	opacity: 0.8;
	background: #000 url("img/loading.gif") no-repeat center;
	box-shadow: none;
}

#cb-status {
	z-index: 101;
	font-size: 12px;
	right: 0;
	bottom: 0;
	margin: 8px;
	border-radius: 4px;
}

#cb-progress-bar {
	width: 200px;
}

#cb-progress-bar,
#cb-progress-bar .progressbar-value {
	height: 3px;
}

#cb-progress-bar .progressbar-value {
	width: 0;
	background: #86C441;
	border-color: #3E7600;
}
