
.cb-control {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}

.cb-control {
	color: #fff;
	background-color: #111;
	background-image: linear-gradient(bottom, rgb(17,17,17) 20%, rgb(41,41,41) 72%);
	background-image: -o-linear-gradient(bottom, rgb(17,17,17) 20%, rgb(41,41,41) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(17,17,17) 20%, rgb(41,41,41) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(17,17,17) 20%, rgb(41,41,41) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(17,17,17) 20%, rgb(41,41,41) 72%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(17,17,17)),
		color-stop(0.72, rgb(41,41,41))
	);
	padding: 10px;
	position: fixed !important;
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
}

.cb-control label {
	display: inline-block;
	margin: 0 0 4px;
}

.cb-control.cb-navigate {
	top: 0;
	margin: 0;
	cursor: pointer;
	width: 128px;
	opacity: 0;
	background: center no-repeat;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.cb-control.cb-navigate:hover {
	opacity: 1;
}

.cb-control.cb-navigate.left {
	left: 0;
	background-image: url(../img/left.png);
}

.cb-control.cb-navigate.right {
	right: 0;
	background-image: url(../img/right.png);
}

.cb-option {
	margin-bottom: 16px;
}

.cb-option:last-child {
	margin-bottom: 0;
}

.ui-draggable {
	cursor: move;
}

#cb-loading-overlay {
	z-index: 100;
	opacity: 0.8;
	background: #000 url("../img/loading.gif") no-repeat center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#cb-status {
	z-index: 101;
	font-size: 12px;
	right: 0;
	bottom: 0;
	margin: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#cb-progress-bar {
	width: 200px;
	height: 3px;
}

#cb-progress-bar .ui-widget-header {
	background: #86C441;
	border-color: #3E7600;
}

#cb-toolbar #cb-comic-info {
	float: right;
	line-height: 24px;
}

#cb-toolbar {
	top: 0;
	border-bottom: 1px solid #888;
}

#cb-toolbar button {
	height: 24px;
	width: 24px;
	color: transparent;
	border: none;
	background-image: url("../img/iconic/sprite.png");
	background-color: transparent;
	background-repeat: no-repeat;
	margin: 0 16px;
	cursor: pointer;
}

#cb-toolbar button.cb-close { background-position: 0 -120px }
#cb-toolbar button.cb-close:hover { background-position: -24px -120px }

#cb-toolbar button.cb-color { background-position: 0 0 }
#cb-toolbar button.cb-color:hover,
#cb-toolbar button.cb-color.active { background-position: -24px 0 }

#cb-toolbar button.cb-layout { background-position: 0 -24px }
#cb-toolbar button.cb-layout:hover { background-position: -24px -24px }

#cb-toolbar button.cb-zoom-out { background-position: 0 -72px }
#cb-toolbar button.cb-zoom-out:hover { background-position: -24px -72px }

#cb-toolbar button.cb-zoom-in {	background-position: 0 -96px }
#cb-toolbar button.cb-zoom-in:hover { background-position: -24px -96px }

#cb-toolbar button.cb-fit-width { background-position: 0 -48px }
#cb-toolbar button.cb-fit-width:hover { background-position: -24px -48px }
#cb-toolbar button.cb-fit-width[disabled=disabled] { background-position: -48px -48px }

#cb-toolbar button.cb-fit-best { background-position: 0 -192px }
#cb-toolbar button.cb-fit-best:hover { background-position: -24px -192px }
#cb-toolbar button.cb-fit-best[disabled=disabled] { background-position: -48px -192px }

#cb-toolbar button.cb-read-direction#toleft{ background-position: 0 -144px }
#cb-toolbar button.cb-read-direction:hover#toleft{ background-position: -24px -144px }

#cb-toolbar button.cb-read-direction#toright{ background-position: 0 -168px }
#cb-toolbar button.cb-read-direction:hover#toright { background-position: -24px -168px }

#cb-color {
	width: 246px;
	top: 44px;
	left: 120px;
	z-index: 1;
	border: 2px solid #444;
	border-top: none;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

label[for="cb-desaturate"] {
	padding: 4px;
}

#cb-desaturate {
	float: left;
}

#cb-reset {
	float: right;
}

#cb-reset {
	background: transparent url(../img/iconic/reload_12x14.png) no-repeat left center;
	padding-left: 16px;
	height: 14px;
	border: none;
	color: #fff;
	cursor: pointer;
}
