
.thumbnails {
  position: absolute;
  color: white;
  background-color: black;
  background-image: linear-gradient(to bottom, rgb(80, 80, 80), rgb(17, 17, 17));
  padding: 0.5em;
  border-radius: 0.2em;
  margin: 5em;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  overflow: auto;
}

.thumbnails img {
  display: inline-block;
  margin: 0.5em;
}
