body {
	font-size: 12px;
}

.control {
	color: #fff;
	background-color: #111;
	margin: 5px;
	padding: 8px;
	opacity: .9;
	position: fixed !important;
}

.control.floating {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.control.navigate {
	top: 0;
	cursor: pointer;
	width: 128px;
	background: center no-repeat;
	opacity: 0;
}

.control.navigate:hover {
	display: block;
	opacity: 1;
}

.control.navigate.left {
	left: 0;
	background-image: url(img/left.png);
}

.control.navigate.right {
	right: 0;
	background-image: url(img/right.png);
}

.ui-draggable {
	cursor: move;
}

#color {
	width: 200px;
	height: 150px;
}

#status {
	top: 0;
	right: 0;
}
