
<div class="toolbar">

	<ul class="pull-left">
		<li class="close">
			<button data-trigger="click" data-action="close" title="close" class="icon-remove-sign"></button>
		</li>
		<li class="close separator"></li>
		<li>
			<button title="image settings" class="icon-settings" data-toggle="dropdown"></button>
			<div class="dropdown">
				<form name="image-enhancements" data-trigger="reset" data-action="resetEnhancements">
					<div class="sliders">
						<div class="control-group">
							<label title="adjust brightness" class="icon-sun"></label>
							<input data-trigger="change" data-action="brightness" type="range" min="-100" max="100" step="1" value="0">
						</div>
						<div class="control-group">
							<label title="adjust contrast" class="icon-adjust"></label>
							<input data-trigger="change" data-action="contrast" type="range" min="-1" max="1" step="0.1" value="0">
						</div>
						<div class="control-group">
							<label title="sharpen" class="icon-droplet"></label>
							<input data-trigger="change" data-action="sharpen" type="range" min="0" max="1" step="0.1" value="0">
						</div>
					</div>
					<div class="control-group pull-left">
						<input id="image-desaturate" type="checkbox" data-trigger="change" data-action="desaturate">
						<label for="image-desaturate">desaturate</label>
					</div>
					<div class="control-group pull-right">
						<input type="reset" value="reset">
					</div>
				</form>
			</div>
		</li>
		<li>
			<button data-trigger="click" data-action="toggleLayout" title="toggle one/two pages at a time" class="icon-file"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="zoomOut" title="zoom out" class="icon-zoom-out"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="zoomIn" title="zoom in" class="icon-zoom-in"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="fitWidth" title="fit page to window width" class="icon-expand"></button>
		</li>
	</ul>

	<ul class="pull-right">
		<li><span id="current-page"></span> / <span id="page-count"></span></li>
	</ul>

</div>
